doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='full-screen', content='yes')
        meta(name='mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='#006cb4')
        meta(name='Keywords', content='#{meta.keywords}')
        meta(name='apple-mobile-web-app-title', content='#{meta.webAppTitle}')
        meta(name='description', content='#{meta.description}')

        // manifest
        link(rel='manifest', href='/manifest.json')

        // dns-prefetch
        link(rel='dns-prefetch', href='https://www.t-tom.me')
        link(rel='dns-prefetch', href='https://t-tom.me')

        // preconnect
        link(rel='preconnect', href='https://www.t-tom.me')
        link(rel='preconnect', href='https://t-tom.me')

        // prefetch
        link(rel='prefetch', href='#{meta.icon}')

        // preload
        each cssURL in css
            link(rel="preload" href=cssURL as="style")

        each cssURL in css
            link(href=cssURL rel="stylesheet")

        // icon
        link(rel='icon', href='#{meta.icon}', type='image/x-icon')
        link(rel='apple-touch-icon', href='#{meta.icon}', type='image/x-icon')

        title #{title}
    body
        #root
    each jsItem in js
        script(src=jsItem defer=true)

